---
---

<article>
  <img src="https://api.lorem.space/image/album?w=150&h=150&hash=8B7BCDC2" alt="" />
  <h1>Peaceful Piano</h1>
  <p>Relax and indulge with</p>
</article>

<style>
  article {
    background-color: black;
  }
  h1,
  p {
    color: white;
  }
</style>
