---
---

<article>
  <img src="../../public/logo.png" alt="" />
  <button>Hjem</button>
  <button>Søg</button>
  <button>Dit bibliotek</button><div>
    <button>Opret playliste</button>
    <button>Sange, du synes godt...</button>
  </div>
</article>

<style>
  article {
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    height: 900px;
  }

  img {
    width: 75%;
    margin: 8%;
  }

  button {
    background-color: rgb(35, 35, 35);
    color: whitesmoke;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 5%;
    margin-left: 6%;
    font-weight: 600;
  }
  div {
    margin-top: 8%;
  }
</style>
